<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

    <style>
        #container {
            margin: 0px auto;
            width: 500px;
            height: 375px;
            border: 10px #333 solid;
        }
        #videoElement {
            width: 500px;
            height: 375px;
            background-color: #666;
        }
    </style>
    <!-- loading ZXingBrowser via UNPKG -->


    <script type="text/javascript" src="/JS/browser/umd/zxing-browser.js"></script>





</head>

<body>


<!--
<form name="form" method="post" action="https://localhost:8080/api/barcode" enctype="multipart/form-data">
    <input name="user" value="Pyo">
    <input name="content" value="Content">
    <input type="file" name="files" multiple="multiple">
    <input type="submit" id="submit" value="전송">


</form>
-->


<section class="section">
    <div class="container">
        <h1 class="title">
            제품 등록
        </h1>
        <p class="subtitle">
            핸드폰을 연결 후 <strong>바코드</strong>를 보여주세요!
        </p>
        <div class="columns">
            <div class="column">
                <div class="box" id="div">

                </div>
            </div>
            <div class="column"><video id="test"></video></div>

        </div>






    </div>
</section>

<script>

    /*
    var video = document.querySelector("#test");

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
            })
            .catch(function (err0r) {
                console.log("Something went wrong!");
            });
    }
    */

</script>


<!--<script type="text/javascript" src="https://unpkg.com/@zxing/browser@latest"></script>
-->

<script type="text/javascript">

    var divselc = document.querySelector("#div");
    const codeReader = new ZXingBrowser.BrowserQRCodeReader();
    const barcodeRe = new ZXingBrowser.BrowserMultiFormatReader();




    console.log(codeReader);
    console.log(barcodeRe);




    async function f() {

        const videoInputDevices = await ZXingBrowser.BrowserCodeReader.listVideoInputDevices();
        console.log("기기목록"+videoInputDevices);
        console.log(videoInputDevices);
        let selectedDeviceId=null;
        for (let i = 0; i <videoInputDevices.length ; i++) {
            if(videoInputDevices[i].label == "EpocCam Camera"){
                selectedDeviceId = videoInputDevices[i].deviceId;
                break
            }
        }


        console.log(`Started decode from camera with id ${selectedDeviceId}`);
        const sourceElem = document.querySelector('#test');

// you can use the controls to stop() the scan or switchTorch() if available
        const controls = await barcodeRe.decodeFromVideoDevice(selectedDeviceId, sourceElem, (result, error, controls) => {
            // use the result and error values to choose your actions
            // you can also use controls API in this scope like the controls
            // returned from the method.


        });

        console.log(sourceElem);
        //const resultVideo = await codeReader.decodeFromVideoElement(previewElem);
        //console.log(resultVideo);

// stops scanning after 20 seconds
        // setTimeout(() => controls.stop(), 20000);

        var barcodeList = [];


        const resultVideo = await barcodeRe.decodeFromVideoElement(sourceElem,function (x) {
            console.log(x);



            if (x !== null && x !== undefined){

                if(barcodeList.indexOf(x.text) == -1){



                    barcodeList.push(x.text);
                    let code = x.text;
                    console.log("code :" + x.text);


                    fetch("http://localhost:8080/api/find"+"?code="+code)
                        .then(res => res.json())
                        .then(res =>{
                          console.log("리스폰스 값 : "+res.data);


                            var node = document.createElement("h1");
                            node.className="title";
                            var textnode = document.createTextNode("Barcode : "+x.text+" /"+res.data);
                            node.appendChild(textnode);
                            divselc.appendChild(node);

                          //return res.data;
                        });







                }



            }
        });




    }


    f();

</script>





</body>
</html>