<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>



    <script src="https://kit.fontawesome.com/533a99162a.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css">
    <link rel="stylesheet" href="/CSS/bulma.css">



</head>

<body>

<div class="container">
    <div class="columns">
        <div class="column">
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            안녕하세요 [ 5층사랑약국 ]님
                        </h1>
                        <h2 class="subtitle">
                            좋은 하루 ~
                        </h2>
                        <a href="/admin" class="is-right"><i class="fas  fa-3x  fa-home"></i> </a>
                    </div>

                </div>
            </section>
            <br>

            <!--            엑셀 인식 파트-->
            <div class="columns">
                <div class="column">
                    <div class="card events-card">

                        <header class="card-header">
                            <p class="card-header-title">
                                운영시간 및 공지사항 설정
                            </p>
                        </header>
                        <div class="card-table">
                            <div class="content">
                                <div class="box">
                                    <div class="columns" align="center">
                                        <div class="column">

                                            <label class="checkbox">
                                                일<br>
                                                <input name="week" value="0" type="checkbox">
                                            </label>
                                        </div>
                                        <div class="column">
                                            <label class="checkbox">
                                                월<br>
                                                <input name="week" value="1"type="checkbox">
                                            </label>
                                        </div>
                                        <div class="column">
                                            <label class="checkbox">
                                                화<br>
                                                <input name="week" value="2" type="checkbox">
                                            </label>
                                        </div>
                                        <div class="column">
                                            <label class="checkbox">
                                                수<br>
                                                <input name="week" value="3" type="checkbox">
                                            </label>
                                        </div>
                                        <div class="column">
                                            <label class="checkbox">
                                                목<br>
                                                <input name="week" value="4" type="checkbox">
                                            </label>
                                        </div>
                                        <div class="column">
                                            <label class="checkbox">
                                                금<br>
                                                <input name="week" value="5" type="checkbox">
                                            </label>
                                        </div>
                                        <div class="column">
                                            <label class="checkbox">
                                                토<br>
                                                <input name="week" value="6" type="checkbox">
                                            </label>
                                        </div>
                                    </div>

                                    <div class="column">

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <label class="label">여는 시간</label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input class="input" id="opentime" type="text" placeholder="09:00">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <label class="label">닫는 시간</label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input class="input" id="closetime" type="text" placeholder="18:00">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button class="button is-primary is-right" id="btn">
                                        캘린더 갱신
                                    </button>
                                    <button class="button is-primary" id="res">
                                        조회
                                    </button>
                                </div>
                                <div class="column">

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">공지사항</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" id="title" type="text" placeholder="공지사항 제목 입력">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">내용</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <textarea class="textarea" id="textarea" placeholder="끄적끄적"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            </div>

                        </div>



                    </div>
                </div>

            </div>



        </div>



    </div>
    <div class="columns">
        <div class="column">
            <div class="column">
                <div class="card-table">
                    <div class="content">
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="card events-card">

                <header class="card-header">
                    <button class="is-fullwidth button is-primary is-large" id="send">저장</button>
                </header>


            </div>



        </div>
    </div>













</div>
<script>

    let mainTag = document.querySelector("#main");
    let sendJsonData;
    // let hpid = "C1104565";
    //100세 약국

    // let hpid = "C1107549";
    //당산 열린 약국

    // let hpid = "C1102945";
    // //디오빌 약국
    //
    // let hpid = "C1102011";
    // //래미안 온누리 약국

    let adminId = "test02";

    let resData;

    let opDay=[];
    init();
    function init() {

        let chekbox = document.getElementsByName("week");
        let week =[];

        fetch('http://localhost:8080/noticeDB',{
            method: 'GET',
            headers:{
                'Content-Type': 'application/json'
            }
        })
            .then(res=>res.json())
            .then((data)=>{
                console.log(data[0].weekDay);
                for(let i=0;  i<data[0].weekDay.length;i++){
                    week.push(data[0].weekDay[i]);

                }
                cal.setOption("businessHours",{
                    daysOfWeek:data[0].week,
                    startTime:data[0].startTime,
                    endTime:data[0].endtime}
                );

                for(let i=0; i<data[0].events.length;i++){
                    cal.addEvent(data[0].events[i]);
                }
                console.log((data))
            });

    }

    function chekboxBtn(){
        let chekbox = document.getElementsByName("week");
        let week =[];
        for(let i=0; i<chekbox.length;i++){
            if(chekbox[i].checked==true){
                console.log(chekbox[i].value);
                week.push(chekbox[i].value);

                //회색 - 휴무일

            }
        }

        cal.setOption("businessHours",{
            daysOfWeek:week,
            startTime:document.getElementById("opentime").value,
            endTime:document.getElementById("closetime").value}
        );
        opDay = week;
        console.log(week);

    }

    function send(){

        let events = [];
        let title = document.getElementById("title").value;
        let textarea = document.getElementById("textarea").value;

        if(opDay.length == 0){
            console.log("운영 시간 설정 필요")
            return 0;
        }

        for(let i=0; i<cal.getEvents().length;i++){

            console.log(cal.getEvents()[i].toJSON());
            events.push(cal.getEvents()[i].toJSON());
            console.log(opDay);



        }
        sendJsonData={
            "noticeTitle":title,
            "noticeTextarea":textarea,
            "weekDay":opDay,
            "hpId":"C1108001 ",
            "adminId":"test01",
            "events":events,
            "startTime":cal.getOption("businessHours").startTime,
            "endTime":cal.getOption("businessHours").endTime

        };

        fetch("http://localhost:8080/insertNotice", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body:JSON.stringify(sendJsonData)
        }).then((response) => console.log(response));
        // JSON.stringify(sendJsonData);
        console.log(sendJsonData);
        // console.log(title + textarea);



    }


    document.querySelector('#btn').addEventListener('click', chekboxBtn);
    document.querySelector('#send').addEventListener('click', send);
    document.querySelector('#res').addEventListener('click', res);


    function res() {

        fetch('http://localhost:8080/noticeDB',{
            method: 'GET',
            headers:{
                'Content-Type': 'application/json'
            }
        })
            .then(res=>res.json())
            .then((data)=>{
                resData = data;
                console.log((data))
            });



    }


//캘린더
    var cal=null;

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            initialView: 'timeGridWeek',
            aspectRatio: 1.5,
            locale:"ko",

            // initialDate: '2020-09-12', 값을 지정하지 않는 경우 현재 날짜로 설정
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            selectMirror: true,
            select: function(arg) {
                var title = prompt('일정 제목 : ');
                if (title) {
                    calendar.addEvent({
                        title: title,
                        start: arg.start,
                        end: arg.end,
                        allDay: arg.allDay
                    })
                }
                calendar.unselect()
            },
            eventClick: function(arg) {
                if (confirm('일정을 삭제 하시겠습니까?')) {
                    arg.event.remove()
                }
            },
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: [
            ]
        });
        cal = calendar;
        calendar.render();
    });


</script>

</body>

</html>