<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="project.eyack.jolup.mapper.NoticeAndOpTimeMapper">



    <select id="getNoticeList"  resultType="project.eyack.jolup.vo.NoticeAndOpTimeSelect">
        select * from noticeAndOpTime;
    </select>



    <insert id="insertNoticeAndOpTime" >
        insert into noticeAndOpTime(hpid,weekday,noticeTitle,noticeTextarea,events,adminId,startTime,endTime) values (#{hpId},#{weekDay},#{noticeTitle},#{noticeTextarea},#{events},#{adminId},#{startTime},#{endTime});
    </insert>





</mapper>

